#signUpBody{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 45% 55%;
    align-items: center;
}

#signUpBG{
    background-image: url('/public/images/signup-background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.greenLayer{
    background-color: rgba(126, 211, 165, 0.44);
    height: 100vh;
}

h2{
    color: #048C7F;
    text-align: center;
    /* margin-top: 120px; */
}

#signUpform {
    width: 60%;
    margin: auto;
}

input, select{
    border: none !important;
    border-bottom: 1px solid silver !important;;
    border-radius: 0 !important;
}

input[type=checkbox]{
    border: 1px black solid !important;
}

#signUp {
    padding: 10px 60px;
    color: white;
    background-color: #31b372;
    border: 0;
    margin: 40px;
}

